<h1 class= 'btn btn-info'> <%= link_to "Total products:", admin_products_path %> <%= @total_products %></h1>
<br>
<h1 class= 'btn btn-info'> <%= link_to "Total categories:", admin_categories_path %> <%= @total_categories %></h1>
